.content {
  text-align: center;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.content > a {
  margin-top: -30vh;
}

.content > a > button,
.content > button {
  padding: 5px 25px;
  height: 45px;
  border-radius: 25px;
  font-weight: bold;
  line-height: 1;
  text-transform: none;
}

.greetingWrapper {
  margin-top: 2vh;
  max-width: 600px;
  width: 100%;
  height: 100%;
  padding: 5px 15px;
  border-radius: 15px;
}

.greeting {
  margin-top: 5px;
  transform: rotateZ(-3deg);
  font-family: var(--font-swash);
  font-size: 4rem;
}

.nickName {
  margin-top: -2.5rem;
  font-size: 3rem;
}

@media only screen and (max-width: 720px) {
  .greetingWrapper {
    width: 95%;
    height: 70%;
    margin-bottom: -20px;
  }

  .greeting {
    font-size: 3rem;
    left: 5%;
  }
  .nickName {
    font-size: 3rem;
    top: 20%;
    left: 28%;
  }
}
