.chooseBlankModal {
  padding: 30px;
}

.chooseBlankHeader {
  margin-bottom: 10px;
}

.tilesContainer {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.tileWrapper {
  max-width: 50px;
  max-height: 50px;
  height: 10vw;
  flex: 10vw;
}
