.chooseBlank {
  height: auto;
  max-width: 400px;
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.tileWrapper {
  max-width: 50px;
  max-height: 50px;
  height: 10vw;
  flex: 10vw;
}
