.clipboardInput {
  position: absolute;
  left: 50%;
  top: 13%;
  width: 25px;
  height: 15px;
  border-color: transparent;
  caret-color: transparent;
  color: transparent;
  z-index: -10;
  outline: none;
  font-size: 16px;
  display: block;
  text-align: center;
}

.invBtnWrapper > button {
  height: 45px;
  font-size: 18px;
  width: 300px;
  padding: 0px 15px;
  border-radius: 40px;
  color: #fffaf0d8;
  text-transform: none;
  font-weight: bold;
}
