.Modal {
  position: fixed;
  z-index: 500;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  margin: 0 auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  background-color: var(--bg);
}

@media (min-width: 600px) {
  .Modal {
    width: 390px;
  }
}
