.scoreListContainer {
  margin: 4px auto;
  display: flex;
  justify-content: space-between;
  width: 99%;
  font-size: smaller;
}

@media (max-width: 600px) {
  .scoreListContainer {
    font-size: x-small;
  }
}

.nickname {
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  line-height: 1.3;
}

.nameAndScoreContainer {
  overflow: hidden;
  display: inline-block;
  max-width: 130px;
}

.nameAndScoreContainerContainer {
  text-align: left;
  max-width: 100%;
  box-sizing: border-box;
  margin-right: 1rem;
}

.score {
  display: inline-block;
  max-width: 25px;
  font-size: 18px;
  vertical-align: bottom;
}
