.tileRack {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
}

.tileContainer {
  height: 48px;
  width: 48px;
  margin: 1px;
  display: inline-block;
  position: relative;
}

/* react-dnd adds a couple extra that need height */
.tileContainer > div {
  height: 48px;
  width: 48px;
}
.tileContainer > div > div {
  height: 48px;
  width: 48px;
}
