.tileImage {
  padding: 1px;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
}

.tileImageContainer {
  width: 80%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.valueText {
  position: absolute;
  bottom: 12%;
  right: 12%;
  font-size: x-small;
  font-family: "Book Antiqua";
}

.letterText {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Book Antiqua";
  font-size: medium;
}
