.turnRow {
  font-size: smaller;
}

.player {
  text-align: left;
  min-width: 30%;
  overflow: hidden;
}

@media (max-width: 600px) {
  .nickname {
    width: 120px;
  }
}

.nickname {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.score {
  text-align: right;
}

.turnNumber {
  font-size: xx-small;
  white-space: nowrap;
}
