.tableWrapper {
  max-height: 70vh;
  overflow-y: auto;
  box-shadow: inset -5px -40px 40px #0f0205a4;
}
.turnList {
  list-style: none;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  min-width: 200px;
  padding: 0px;
}

.turnTable {
  width: 100%;
  border: 4px solid var(--table-color);
  border-radius: 5px;
  border-spacing: 0px;
  background-color: var(--table-bg);
  color: var(--text-primary);
  max-height: 90vh;
  min-height: 40vh;
  overflow-y: auto;
}

.turnTable th {
  padding: 10px 10px;
  border: 1px solid var(--table-color);
  font-size: small;
}
.turnTable td {
  padding: 10px 10px;
  border: 1px solid var(--table-color);
}
.playerAndRemainingTilesHeader {
  display: flex;
  justify-content: space-between;
}
.remainingTileCount {
  font-size: x-small;
  line-height: 20px;
}
