a.recentGame {
  list-style: none;
  width: 95%;
  height: 140px;
  background-color: #7b5a51;
  text-decoration: none;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* position: relative; */
}

.recentGame li {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.createdAt {
  position: relative;
  bottom: 0;
}
