.squaresGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gridContainer {
  width: 100%;
}

@media (min-width: 600px) {
  .gridContainer {
    max-width: 600px;
    margin: 0 auto;
  }
}
