.squaresGrid {
  border: 1px dashed black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gridContainer {
  overflow: scroll;
  margin-left: 5%;
  margin-right: 3%;
  width: 90%;
}
