.squareContainer {
  display: inline-block;
  position: relative;
  border: 1px solid var(--square-border);
  color: rgb(224, 224, 224);
  border-radius: 8px;
  font-family: 'Lato', sans-serif;
}

.L2 {
  background-color: var(--square-dl);
}
.L3 {
  background-color: var(--square-tl);
}
.W2 {
  background-color: var(--square-dw);
}
.W3 {
  background-color: var(--square-tw);
}
.default {
  background-color: var(--square-empty);
}
.playable {
  background-color: var(--selection);
  border: 1px dashed var(--square-tw);
  color: var(--selected-darkfont);
}
.playableLight {
  background-color: var(--selection-light);
  border: 1px dashed var(--square-tw);
  color: var(--selected-darkfont);
}
.playableLighter {
  background-color: var(--selection-lighter);
  border: 1px dashed var(--square-tw);
  color: var(--selected-darkfont);
}

.sizer {
  margin-top: 100%;
}

.square {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.displayBonus {
  
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  user-select: none;
}

@media (min-width: 600px) {
  .displayBonus {
    font-size: smaller;
  }
}

@media (max-width: 600px) {
  .displayBonus {
    font-size: x-small;
  }
}
