.tileContainer {
  width: 80%;
  height: 80%;
  display: inline-block;
  margin-left: -2px;
  margin-top: 1px;
}

.square {
  /* width: 95%; */
  border: 1px solid black;
}

.noTile {
  font-size: x-small;
}

.noTile::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: calc(100%);
}
