.square {
  width: 90%;
  border: 1px solid black;
}

.noTile {
  font-size: x-small;
}

.noTile::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: calc(100%);
}
