.form {
  margin: 15vh auto;
  max-width: 400px;
  position: relative;
}

.joinTitle {
  font-family: var(--font-swash);
  font-size: 1.8rem;
}

.joinDetails {
  margin-top: -0.5rem;
  margin-bottom: 3rem;
}

.rabbleName {
  font-family: var(--font-swash);
  font-size: 1.2rem;
}

.tileBagImg {
  position: absolute;
  z-index: -1;
  top: 10rem;
  transform: scale(1.5), rotateZ(-5deg);
  right: 3rem;
  opacity: 0.8;
}

@media only screen and (min-width: 600px) {
  .joinTitle {
    font-size: 2.5rem;
  }
}
.joinGameID {
  font-size: 0.9rem;
}

label {
  display: block;
  font-size: smaller;
  padding-left: 20px;
  line-height: 0.5;
}

.inputGroupContainer {
  text-align: left;
  display: inline-block;
  width: 95%;
  padding: 2px;
  height: 65px;
}

input {
  position: absolute;
  bottom: 0;
  display: inline-block;
  height: 48px;
  font-size: 23px;
  padding-left: 20px;
  width: 70%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

input:focus {
  background-color: darkgray;
  caret-color: maroon;
  outline: none;
}

.inputGroupContainer > button {
  position: absolute;
  font-weight: bold;
  right: 10px;
  bottom: 3px;
  width: 25%;
  margin: 4px 3px 0 -2px;
  height: 45px;
  text-transform: none;
  font-size: 24px;
  padding: 3px 0 0 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
