.buttons {
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.buttons > button {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-left: 2px;
  margin-right: 2px;
  padding: 2px 5px;
  min-height: 40px;
  -webkit-appearance: none;
  background-color: rgb(239, 239, 239);
  border-radius: 15px;
  border-width: 1px;
  color: #fffaf0c8;
  letter-spacing: -0.8px;
}

.buttons > button > svg {
  margin-top: 4px;
  width: 24px;
  height: 24px;
}
