.board {
  text-align: center;
}

.heading {
  color: black;
}

.subheading {
  color: slategray;
}

.turnList {
  list-style: none;
  text-align: left;
}

.scoreList {
  list-style: none;
  text-align: left;
}
