.heading {
  color: black;
}

.subheading {
  color: slategray;
}

.scoreList {
  list-style: none;
  text-align: left;
  margin: 0 10px;
  min-width: 200px;
  padding: 0px;
}

.board {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}

.clipboardInput {
  position: absolute;
  width: 25px;
  border-color: transparent;
  caret-color: transparent;
  color: transparent;
  z-index: -10;
  outline: none;
  font-size: 16px;
  display: block;
  text-align: center;
}

.clipboardInput::selection {
  color: transparent;
  background: transparent;
}
